html {margin: 0;
     display: flex; 
     justify-content: center;  
     align-items: center;  }

span{text-transform: uppercase;}

header div {background-color:hsla(54, 88%, 54%, 0.162);height: 2em; }
header p {font-weight: bold;}
h1 {font-weight: bold; font-size: 2em; font-family: serif;}

#logo{width: 30%;}

hr {border: none; height: 0.1em; }

#focaccia {border-radius: 5%;}

.color {color: darkcyan;}
#futured{color: brown;}